<div fxLayout='row' fxLayoutWrap class="cards">

    <div fxFlex="20" class="example-card" *ngFor="let card of cards">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{card.name}}</mat-card-title>
          <mat-card-subtitle>SPORT : {{card.sport}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p> <label class="labelInfo"> Data : </label>
            <label class="labelValue">{{ card.date}}</label>
          </p>

          <p>
            <label class="labelInfo"> Partecipanti :</label> 
            <label class=labelValue>  {{card.id_partecipanti.length}}/{{card.numbersplayer}} </label>
          </p>

          <p>
            <label class=labelInfo> Prezzo : </label>
            <label class=labelValue> {{ card.price | number: '.2-2' }} €</label>
          </p>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="click(card.id)">{{card.button_text}}</button>
          <button mat-raised-button color="primary">Dettagli</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


  <mat-card class="carta">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{carta.name}}</mat-card-title>
      <mat-card-subtitle>SPORT : {{carta.sport}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> <label class="labelInfo"> Data : </label>
        <label class="labelValue">{{ carta.date}}</label>
      </p>
      <p>
        <label class="labelInfo"> Partecipanti :</label> 
        <label class=labelValue> {{carta.numbersplayer}} </label>
      </p>

      <p>
        <label class=labelInfo> Prezzo : </label>
        <label class=labelValue>{{ carta.price | number: '.2-2' }} €</label>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Partecipa</button>
      <button mat-raised-button color="primary">Dettagli</button>
    </mat-card-actions>
  </mat-card>