<div class="center-content">
    <mat-card class="card-auth">
      <mat-card-header>
        <mat-card-title>Login/Register</mat-card-title>
        <mat-card-subtitle>SportAppenz</mat-card-subtitle>
      </mat-card-header>

      <!-- LOGIN CARD -->

      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="login()">Login</button>
          </mat-tab>

          <!-- REGISTER CARD -->
          
          <mat-tab label="Registrati">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="remail">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="rpassword">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="rcpassword">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Nome</mat-label>
              <input type="nome" matInput placeholder="Nome" [(ngModel)]="rnome">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Cognome</mat-label>
              <input type="cognome" matInput placeholder="Cognome" [(ngModel)]="rcognome">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="register()">Registrati</button>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>