<mat-toolbar color="primary">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <span class="spacer-elem"></span>
    <a routerLink="/events" routerLinkActive="active">Events</a>
    <span class="spacer-elem"></span>
    <a routerLink="/aroundme" routerLinkActive="active">AroundMe</a>
    <span class="spacer-elem"></span>
    <a routerLink="/login_reg" routerLinkActive="active" *ngIf="!isLoggedIn$">Login/SignUp</a>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn$">Profile</a>
</mat-toolbar>
