<form [formGroup]="eventForm">
<p>
  <mat-form-field appearance="standard">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Placeholder" formControlName="nome">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="standard">
    <mat-label>Numero di partecipanti</mat-label>
    <input matInput placeholder="Placeholder" formControlName="numerodipartecipanti" type="number" min="2" max="100" onKeyUp="if(this.value>100){this.value='100';}else if(this.value<2){this.value='2';}">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="standard">
    <mat-label>Prezzo</mat-label>
    <input matInput placeholder="Placeholder" formControlName="prezzo" type="number" min="0.00" max="100.00" step="0.01" pattern="^\d*(\.\d{0,2})?$" onKeyUp="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<br>
  <mat-form-field appearance="fill">
    <mat-label>Sport</mat-label>
    <mat-select formControlName="sport">
      <mat-option value="Calcio">Calcio</mat-option>
      <mat-option value="Calcio1">Calcio1</mat-option>
      <mat-option value="Calcio2">Calcio2</mat-option>
      <mat-option value="Calcio3">Calcio3</mat-option>

    </mat-select>
  </mat-form-field>
<br>

<mat-form-field aspect="fill" > 
  <mat-label> Scegli una data </mat-label> 
  <input matInput [matDatepicker]="picker" formControlName="data"> 
  <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle> 
  <mat-datepicker #picker > </mat-datepicker> 
</mat-form-field>
<button mat-raised-button (click)="click()">Crea evento</button>
</form>

<button mat-raised-button (click)="nolocation()">Non conosco la posizione</button>

<agm-map 
        [latitude]="lat" 
        [longitude]="lng"
        (mapClick)="mapClicked($event)"
        >

        <agm-marker 
          [latitude]="evento.latitudine"
          [longitude]="evento.longitudine"
          [markerDraggable]="true"
          [visible]="evento.visible"
          (dragEnd)="markerDragEnd($event)"
        >  
        </agm-marker>

</agm-map>

